<%- include('partials/_headerLogIn') %>

  <div class="col-10">

  <h1>recibo Energia</h1>
  <p>Version 1.0</p>

    <form class="text-center" action="/nuevaFactura" method="post">
      

      <div class="mt-5">
        <label for="apto">Apto</label>
        <select name="apto" class="border-0">
          Apartamento
          <% for (x=0; x < aptos.length; ++x) { %>
            <option value="<%= aptos[x] %>"><%= aptos[x] %></option>  
            <% } %>
        </select>
      </div><hr>

      <div class="mt-3">
        <label class="d-block">Lectura Actual</label>
        <input class="d-block border-0 text-center" name="fecha_actual" type="date">
        <input class="d-block border-0 text-center" name="lectura_actual" placeholder="Valor de Lectura">
      </div><hr>

      <div class="mt-3">
        <label class="d-block fw-bold">Lectura Anterior</label>
        <input class="d-block border-0 text-center" name="fecha_anterior" type="date">
        <input class="d-block border-0 text-center" name="lectura_anterior" placeholder="Valor de Lectura">
      </div><hr>

      <div class="mt-3">
        <input class="d-block border-0 text-center" name="dias_facturados" placeholder="Dias facturados">
      </div><hr>

      <div class="mt-3">
        <input class="d-block border-0 text-center" name="valor_factura" placeholder="Valor de Factura">
      </div><hr>

      <button type="submit">Guardar</button>
    
    </form>

  </div>
</div>


</body>
</html>   