<%- include('partials/_header') %>

<div class="text-center mt-5">
  
  <p class="display-2" >app Jaussers</p>
  <p>Version 1.0</p>

  <p>Bienvenido Luisfer a tu CRM</p>
  
  <form action="">
    <p>Por favor ingresa tu clave</p>
    <input type="text" class="">
    <button class="btn btn-primary">ENTRAR</button>
  </form>

  <!-- Hay que agregar todo el tema de JWT -->

</div>

</body>
</html>   