<%- include('partials/_headerLogIn') %>
  
    <div class="col-10" id="bodyWeb">
  
      <div class="text-center">
    
        <p class="displa  y-2" >app Jaussers</p>
        <p>Version 1.0</p>
      
        <p>AQUI YA DEBE ESTAR CORRIENDO LA APP</p>
        
      </div>
  
    </div>
  
  </div>

</div>


</body>
</html>   