<%- include('partials/_headerLogIn') %>

    <div class="col-10" id="bodyWeb">

      <h1>registro Reservas</h1>
      <p>Version 1.0</p>
      
      <form class="text-center" action="/nuevaReserva" method="post">
      
        <button type="submit" class="btn btn-primary">Guardar</button>
      
      </form>

    </div>

  </div>


</div>

</body>
</html>   